<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "../../dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.backstage.dao.menuDao">
	<resultMap type="menu" id="menuMap">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="parent_id" property="parentId" />
		<result column="url" property="url" />
		<result column="is_delete" property="isDelete" />
	</resultMap>
	
	
	<!-- 根据相应的条件获取user对象 -->
	<select id="findAll"  resultMap="menuMap">
		select * from backstage_menu where parent_id is null and is_delete='1' order by id asc
	</select>
	
	<!-- 根据相应的条件获取user对象 -->
	<select id="findByParentId" parameterType="Integer" resultMap="menuMap">
		select * from backstage_menu where  parent_id = #{0} and is_delete='1'
	</select>
	
	
</mapper>